html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  font-size: 0.85rem;
  font-weight: 900;
}
header .header-top {
  display: flex;
}
header .header-top .htl {
  display: flex;
  align-items: center;
}
header .header-top .htl .bbc-logo {
  cursor: pointer;
  margin-right: 0.75em;
}
header .header-top .sign-in {
  cursor: pointer;
  padding: 0.7em 8em 0.7em 1em;
  border-left: 1px solid grey;
  border-bottom: 4px solid white;
  display: flex;
  align-items: center;
}
header .header-top .sign-in:hover {
  border-bottom: 4px solid #3fbbaa;
}
header .header-top .sign-in img {
  width: 20px;
  margin-right: 0.5em;
}
header .header-top ul {
  display: flex;
}
header .header-top ul li {
  cursor: pointer;
  padding: 0.75em 1.25em;
  border-left: 1px solid grey;
  height: 100%;
}
header .header-top ul li:hover {
  border-bottom: 4px solid #3fbbaa;
}
header .header-top ul .more-link {
  padding-right: 6em;
  display: flex;
  position: relative;
  border-right: 1px solid grey;
}
header .header-top ul .more-link .down {
  width: 15px;
  position: absolute;
  right: 0.5em;
}
header .header-top .htr {
  display: flex;
  align-items: center;
  position: relative;
}
header .header-top .htr input {
  height: 30px;
  margin-left: 1.25em;
  border: none;
  background-color: #dadada;
  padding-left: 0.5em;
}
header .header-top .htr img {
  width: 15px;
  position: absolute;
  right: 0.5em;
}
header .header-mid {
  background-color: #bb1919;
  color: white;
  margin: 0 -100vw;
  padding: 0.5em 100vw 0 100vw;
}
header .header-mid h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
header .header-mid ul {
  display: flex;
}
header .header-mid ul li {
  cursor: pointer;
  margin: 0.25em;
  padding: 0.5em 0.75em;
  position: relative;
  border-bottom: 5px solid #bb1919;
}
header .header-mid ul li::after {
  content: "";
  width: 1px;
  height: 15px;
  background: #dadada;
  position: absolute;
  bottom: 7px;
  right: -5px;
}
header .header-mid ul li:hover {
  border-bottom: 5px solid white;
}
header .header-mid ul .news-more::after {
  content: none;
}
header .header-mid ul .news-more:hover {
  background: black;
  border-bottom: none;
}
header .header-mid ul .news-more .small-down {
  width: 10px;
}
header .header-bot ul {
  display: flex;
  align-items: center;
}
header .header-bot ul li {
  font-size: 1rem;
  margin: 0.25em;
  padding: 0.5em;
  border-bottom: 5px solid white;
  position: relative;
}
header .header-bot ul li::after {
  content: "";
  width: 1px;
  height: 15px;
  background: #dadada;
  position: absolute;
  bottom: 9px;
  right: -5px;
}
header .header-bot ul li:hover {
  border-bottom: 5px solid #bb1919;
}
header .header-bot ul li:first-child {
  font-size: 1.25rem;
  padding: 0.25em;
}
header .header-bot ul li:last-child::after {
  content: none;
}

body {
  font: 100% Verdana, Arial, Helvetica, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
body .container {
  width: 1250px;
  margin: 0 auto;
}
body .main {
  display: flex;
}
body .main .main-article {
  min-width: 500px;
  margin-right: 1em;
}
body .main .main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em;
}
body .main .main-grid article {
  background: #777;
}
body .main .main-grid .main1 {
  grid-area: main1;
}
body .main .main-grid .main2 {
  grid-area: main2;
}
body .main .main-grid .main3 {
  grid-area: main3;
}
body .main .main-grid .main4 {
  grid-area: main4;
}
body .main .main-grid .main5 {
  grid-area: main5;
}
body .main .main-grid .main6 {
  grid-area: main6;
}
.a {
  display: flex;
  gap: 1em;
}
.a article {
  width: 100%;
}

.b {
  margin-top: 2em;
}

.b-grid {
  display: flex;
  gap: 1em;
}
.b-grid article {
  width: 100%;
}

.c {
  margin: 2em 0;
}

.c-grid {
  display: flex;
  gap: 1em;
}
.c-grid article {
  width: 100%;
}

.findus .findus-header {
  display: flex;
}
.findus h3 {
  width: 130px;
}
.findus hr {
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-right: none;
}
.findus .findus-grid {
  background: lightblue;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(5, minmax(1fr, 1fr));
  grid-template-rows: 0.5fr 0.5fr;
  grid-template: "socials empty daily news a" "socials empty daily news b";
}
.findus .socials {
  display: flex;
  grid-area: socials;
}
.findus .socials div {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.findus .socials img {
  width: 50px;
  margin: auto;
}
.findus .socials .socials-twitter {
  background: lightyellow;
}
.findus .socials .socials-facebook {
  background: lightyred;
}
.findus .socials .socials-instagram {
  background: cyan;
}
.findus .empty {
  grid-area: empty;
  width: 300px;
}
.findus .findus-daily {
  grid-area: daily;
}
.findus .findus-daily img {
  width: 50px;
}
.findus .findus-news {
  grid-area: news;
}
.findus .findus-news img {
  width: 50px;
}
.findus .info-a {
  grid-area: a;
}
.findus .info-b {
  grid-area: b;
}
.findus .top {
  display: flex;
  align-items: center;
  gap: 1em;
}
.findus .top h3 {
  border-left: 3px solid grey;
  padding-left: 1em;
}

footer .footer-top {
  margin: 0 -100vw;
  padding: 0 100vw;
  background-color: #2f2f2f;
}
footer h4 {
  font-size: 1.5rem;
}
footer .ft-grid ul {
  display: flex;
  justify-content: space-between;
}
footer .ft-grid a {
  display: flex;
}
footer .ft-grid a img {
  margin-right: 1em;
  width: 25px;
}
footer .footer-bottom {
  margin: 0 -100vw;
  padding: 0 100vw 1em 100vw;
  background: #4c4c4c;
}
footer h4 {
  font-size: 1.5rem;
}
footer .fb-grid-a {
  columns: 6;
  margin: 2em 0;
}
footer .fb-grid-b ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25em;
}
footer .footer-bottom-foot {
  margin-top: 1em;
}

/*# sourceMappingURL=styles.css.map */
