html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  font-size: 0.85rem;
  font-weight: 900;
}
header .header-top {
  display: flex;
}
header .header-top .htl {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  header .header-top .htl {
    max-height: 30px;
  }
}
header .header-top .htl .bbc-logo {
  cursor: pointer;
  margin-right: 0.75em;
}
@media screen and (max-width: 1007px) {
  header .header-top .htl .bbc-logo {
    margin-left: 0.75em;
  }
}
@media screen and (max-width: 600px) {
  header .header-top .htl .bbc-logo {
    width: 50px;
  }
}
header .header-top .sign-in {
  cursor: pointer;
  padding: 0.7em 8em 0.7em 1em;
  border-left: 1px solid grey;
  border-bottom: 4px solid white;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  header .header-top .sign-in {
    border-bottom: none;
  }
}
@media screen and (max-width: 1280px) {
  header .header-top .sign-in {
    padding: 0.7em 1em 0.7em 1em;
  }
}
@media screen and (max-width: 1007px) {
  header .header-top .sign-in span {
    display: none;
  }
  header .header-top .sign-in img {
    margin: 0 !important;
  }
}
header .header-top .sign-in:hover {
  border-bottom: 4px solid #3fbbaa;
}
header .header-top .sign-in img {
  width: 20px;
  margin-right: 0.5em;
}
@media screen and (max-width: 600px) {
  header .header-top .sign-in img {
    width: 15px;
  }
}
header .header-top .htm ul {
  display: flex;
}
header .header-top .htm ul li {
  cursor: pointer;
  padding: 0.75em 1.25em;
  border-left: 1px solid grey;
  height: 100%;
}
@media screen and (max-width: 600px) {
  header .header-top .htm ul li {
    padding: 0.25em 0.75em !important;
  }
}
@media screen and (max-width: 1280px) {
  header .header-top .htm ul li {
    padding: 0.75em 0.75em;
  }
}
@media screen and (max-width: 960px) {
  header .header-top .htm ul li:nth-child(8) {
    display: none;
  }
}
@media screen and (max-width: 910px) {
  header .header-top .htm ul li:nth-child(7) {
    display: none;
  }
}
@media screen and (max-width: 825px) {
  header .header-top .htm ul li:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 770px) {
  header .header-top .htm ul li:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  header .header-top .htm ul li:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 645px) {
  header .header-top .htm ul li:nth-child(3) {
    display: none;
  }
}
header .header-top .htm ul li:hover {
  border-bottom: 4px solid #3fbbaa;
}
header .header-top .htm ul .more-link {
  padding-right: 6em;
  display: flex;
  position: relative;
  border-right: 1px solid grey;
}
header .header-top .htm ul .more-link .down {
  width: 15px;
  position: absolute;
  right: 0.5em;
}
@media screen and (max-width: 600px) {
  header .header-top .htm ul .more-link .down {
    display: none;
  }
}
header .header-top .htr {
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 600px) {
  header .header-top .htr {
    align-items: start;
  }
}
header .header-top .htr input {
  height: 30px;
  margin-left: 1.25em;
  border: none;
  background-color: #dadada;
  padding-left: 0.5em;
}
@media screen and (max-width: 600px) {
  header .header-top .htr input {
    display: none;
  }
}
header .header-top .htr img {
  width: 20px;
  position: absolute;
  right: 0.5em;
}
@media screen and (max-width: 600px) {
  header .header-top .htr img {
    width: 10px;
    top: 5px;
  }
}
header .header-mid {
  background-color: #bb1919;
  color: white;
  margin: 0 -100vw;
  padding: 0.5em 100vw 0 100vw;
}
header .header-mid h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
@media screen and (max-width: 1007px) {
  header .header-mid h1 {
    margin-left: 0.25em;
  }
}
header .header-mid ul {
  display: flex;
}
@media screen and (max-width: 690px) {
  header .header-mid ul {
    display: none;
  }
}
header .header-mid ul li {
  cursor: pointer;
  margin: 0.25em;
  padding: 0.5em 0.75em;
  position: relative;
  border-bottom: 5px solid #bb1919;
}
@media screen and (max-width: 1280px) {
  header .header-mid ul li:nth-child(12), header .header-mid ul li:nth-child(13), header .header-mid ul li:nth-child(14) {
    display: none;
  }
}
@media screen and (max-width: 890px) {
  header .header-mid ul li:nth-child(11) {
    display: none;
  }
}
@media screen and (max-width: 810px) {
  header .header-mid ul li:nth-child(10) {
    display: none;
  }
}
@media screen and (max-width: 755px) {
  header .header-mid ul li:nth-child(9) {
    display: none;
  }
}
@media screen and (max-width: 690px) {
  header .header-mid ul li:nth-child(8) {
    display: none;
  }
}
header .header-mid ul li::after {
  content: "";
  width: 1px;
  height: 15px;
  background: #dadada;
  position: absolute;
  bottom: 7px;
  right: -5px;
}
header .header-mid ul li:hover {
  border-bottom: 5px solid white;
}
header .header-mid ul .news-more::after {
  content: none;
}
header .header-mid ul .news-more:hover {
  background: black;
  border-bottom: none;
}
header .header-mid ul .news-more .small-down {
  width: 10px;
}
header .header-bot ul {
  display: flex;
  align-items: center;
}
header .header-bot ul li {
  font-size: 1rem;
  margin: 0.25em;
  padding: 0.5em;
  border-bottom: 5px solid white;
  position: relative;
}
header .header-bot ul li::after {
  content: "";
  width: 1px;
  height: 15px;
  background: #dadada;
  position: absolute;
  bottom: 9px;
  right: -5px;
}
header .header-bot ul li:hover {
  border-bottom: 5px solid #bb1919;
}
header .header-bot ul li:first-child {
  font-size: 1.25rem;
  padding: 0.25em;
}
header .header-bot ul li:last-child::after {
  content: none;
}
@media screen and (max-width: 600px) {
  header .header-bot ul .not-first {
    display: none;
  }
  header .header-bot ul .first {
    padding: 0 !important;
  }
}

body {
  font: 100% Verdana, Arial, Helvetica, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
body .container {
  width: 1250px;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  body .container {
    width: 1008px;
  }
}
@media screen and (max-width: 1007px) {
  body .container {
    width: 95%;
  }
}
body .main {
  display: flex;
}
@media screen and (max-width: 1280px) {
  body .main {
    flex-direction: column;
  }
}
body .main .main-article {
  min-width: 500px;
  margin-right: 1em;
  cursor: pointer;
}
body .main .main-article p {
  margin: 0.5em 0;
  color: #504f4f;
}
body .main .main-article h2 {
  font-size: 1.75rem;
  font-weight: 800;
}
body .main .main-article h2:hover {
  color: #2c888f;
  text-decoration: underline;
}
@media screen and (max-width: 1280px) {
  body .main .main-article .main-article-img {
    width: 50%;
    float: left;
    margin: 0 1em 1em 0;
  }
}
@media screen and (max-width: 1007px) {
  body .main .main-article .main-article-img {
    width: 65%;
  }
}
@media screen and (max-width: 600px) {
  body .main .main-article .main-article-img {
    width: 100%;
  }
}
body .main .main-article .article-info {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
body .main .main-article .article-info .afl {
  border-right: 1px solid #dadada;
  padding-right: 0.5em;
  color: #504f4f;
}
body .main .main-article .article-info .afr {
  font-size: 0.9rem;
}
body .main .main-article .article-info .afr:hover {
  color: #2c888f;
  text-decoration: underline;
}
body .main .main-article .main-article-headlines {
  font-weight: 700;
  list-style: disc;
  margin: 2em 1em;
  line-height: 1.5rem;
}
@media screen and (max-width: 1280px) {
  body .main .main-article .main-article-headlines {
    display: inline-block;
  }
}
body .main .main-article .main-article-headlines li {
  cursor: pointer;
}
body .main .main-article .main-article-headlines li:hover {
  color: #2c888f;
  text-decoration: underline;
}
body .main .main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em;
}
body .main .main-grid article {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .main .main-grid article h3 {
  font-weight: 600;
}
body .main .main-grid article h3:hover {
  color: #2c888f;
  text-decoration: underline;
}
body .main .main-grid article p {
  color: #504f4f;
  font-size: 0.9rem;
}
body .main .main-grid article .article-foot {
  display: flex;
  align-items: center;
  gap: 0.75em;
  margin-top: 0.25em;
}
body .main .main-grid article .article-foot img {
  width: 15px;
}
body .main .main-grid article .article-foot span {
  color: #504f4f;
  position: relative;
}
body .main .main-grid article .article-foot span::after {
  content: "";
  width: 1px;
  height: 15px;
  background: #949494;
  position: absolute;
  bottom: 2px;
  right: -7px;
}
body .main .main-grid article .article-foot p {
  color: black;
  font-size: 0.9rem;
}
body .main .main-grid article .article-foot p:hover {
  color: #2c888f;
  text-decoration: underline;
}
body .main .main-grid .main1 {
  grid-area: main1;
}
body .main .main-grid .main2 {
  grid-area: main2;
}
body .main .main-grid .main3 {
  grid-area: main3;
}
body .main .main-grid .main4 {
  grid-area: main4;
}
body .main .main-grid .main5 {
  grid-area: main5;
}
body .main .main-grid .main6 {
  grid-area: main6;
}
article {
  width: 100%;
  cursor: pointer;
}
article h4 {
  font-weight: 700;
  margin: 0.5em 0;
}
article h4:hover {
  color: #2c888f;
}
article .a-foot {
  display: flex;
  gap: 0.5em;
  font-size: 0.9rem;
}
article .a-foot img {
  width: 15px;
}
article .a-foot span {
  color: #504f4f;
}
article .a-foot p:hover {
  color: #3fbbaa;
  text-decoration: underline;
}

.a-title {
  display: flex;
  align-items: center;
  margin: 6em 0 2em 0;
}
.a-title h3 {
  width: 160px;
  font-size: 1.5rem;
}
.a-title hr {
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.a {
  display: flex;
  gap: 1em;
}

.b .b-title {
  display: flex;
  align-items: center;
  margin: 2em 0;
}
.b .b-title h3 {
  width: 290px;
  font-size: 1.5rem;
}
.b hr {
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.b-grid {
  display: flex;
  gap: 1em;
}

.c {
  margin: 2em 0;
}
.c .c-title {
  display: flex;
  align-items: center;
  margin: 2em 0;
}
.c .c-title h3 {
  width: 170px;
  font-size: 1.5rem;
}
.c hr {
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.c-grid {
  display: flex;
  gap: 1em;
}

.findus {
  margin-bottom: 4em;
}
.findus .findus-header {
  display: flex;
  align-items: center;
  margin: 2em 0 1em 0;
}
.findus h3 {
  font-size: 1.5rem;
  width: 170px;
}
.findus hr {
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-right: none;
}
.findus .findus-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(1fr, 1fr));
  grid-template-rows: 0.5fr 0.5fr;
  grid-template: "socials empty daily news a" "socials empty daily news b";
}
.findus .socials {
  display: flex;
  grid-area: socials;
}
.findus .socials div {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0.5em;
  cursor: pointer;
}
.findus .socials div:hover {
  filter: brightness(75%);
}
.findus .socials img {
  width: 50px;
  margin: auto;
}
.findus .socials .socials-twitter {
  fill: #1da1f2;
  background: #1da1f2;
}
.findus .socials .socials-facebook {
  background: #3d5a98;
}
.findus .socials .socials-instagram {
  background: #d93175;
}
.findus .empty {
  grid-area: empty;
  width: 150px;
}
.findus a {
  text-decoration: none;
}
.findus .findus-h3 {
  font-size: 1.25rem;
  color: #504f4f;
  font-weight: 100;
}
.findus .findus-h3 span {
  font-weight: 700;
}
.findus .findus-daily {
  margin-right: 0.75em;
  grid-area: daily;
}
.findus .findus-daily img {
  height: 40px;
  width: 40px;
}
.findus p {
  color: black;
  font-size: 0.9rem;
}
.findus p:hover {
  color: #2c888f;
  text-decoration: underline;
}
.findus .findus-news {
  margin-right: 0.1em;
  grid-area: news;
}
.findus .findus-news img {
  height: 40px;
  width: 40px;
}
.findus .findus-info p {
  line-height: 1.25rem;
  color: #504f4f;
}
.findus .findus-info p:hover {
  text-decoration: none;
}
.findus .findus-info span {
  color: black;
  cursor: pointer;
}
.findus .findus-info span:hover {
  text-decoration: underline;
  color: #2c888f;
}
.findus .info-a {
  grid-area: a;
}
.findus .info-b {
  grid-area: b;
}
.findus .top {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 0.5em;
}
.findus .top h3 {
  border-left: 3px solid grey;
  padding-left: 1em;
}

footer {
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}
footer a:hover {
  text-decoration: underline;
}
footer .footer-top {
  margin: 0 -100vw;
  padding: 1em 100vw;
  background-color: #2f2f2f;
  border-bottom: 2px solid #949494;
}
footer h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  font-weight: 600;
}
footer .ft-grid ul {
  display: flex;
  justify-content: space-between;
}
footer .ft-grid a {
  display: flex;
  align-items: center;
}
footer .ft-grid a img {
  margin-right: 1em;
  width: 30px;
  filter: brightness(0) invert(1);
}
footer .footer-bottom {
  margin: 0 -100vw;
  padding: 1em 100vw 1em 100vw;
  background: #4c4c4c;
}
footer h4 {
  font-size: 1.5rem;
  font-weight: 600;
}
footer .fb-grid-a {
  columns: 6;
  margin: 2em 0;
  border-bottom: 1px solid #949494;
  padding-bottom: 1em;
  line-height: 1.5rem;
}
footer .fb-grid-a li {
  border-right: 1px solid #949494;
}
footer .fb-grid-b ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.9em;
}
footer .footer-bottom-foot {
  font-size: 0.9rem;
  margin-top: 1em;
}
footer .footer-bottom-foot span, footer .footer-bottom-foot a {
  font-weight: 600;
}

/*# sourceMappingURL=styles.css.map */
