$red: #bb1919


$twitter-blue: rgb(29, 161, 242)
$facebook-blue: rgb(61, 90, 152)
$instagram-pink: rgb(217, 49, 117)

$footer-grey1: rgb(76, 76, 76)
$footer-grey2: rgb(47, 47, 47)

$grey: rgb(148, 148, 148)
$light-grey: rgb(218, 218, 218)
$dark-grey: rgb(80, 79, 79)


$hover-blue: rgb(63, 187, 170)
$link-blue: rgb(44, 136, 143)