@import '_colors'

footer

    .footer-top
        margin: 0 -50em
        padding: 0 50em
        background-color: $footer-grey2
    h4
        font-size: 1.5rem

    .ft-grid
        ul
            display: flex
            justify-content: space-between
        a
            display: flex
            img
                margin-right: 1em
                width: 25px

    .footer-bottom
        margin: 0 -50em
        padding: 0 50em 1em 50em
        background: $footer-grey1
    h4
        font-size: 1.5rem

    .fb-grid-a
        columns: 6
        margin: 2em 0
    .fb-grid-b
        ul
            display: flex
            flex-direction: row
            flex-wrap: wrap
            gap: 0.25em
    .footer-bottom-foot
        margin-top: 1em
