@import '_colors'

footer
    color: white
    a
        color: white
        text-decoration: none
        font-size: 0.9rem
        &:hover
            text-decoration: underline

    .footer-top
        // margin: 0 -100vw
        // padding: 1em 100vw
        margin: 0 -2.5%
        padding: 1em 5% 
        @media screen and (max-width:1280px)
            margin: 0 -12.5%
            padding: 1em 12.5%
        background-color: $footer-grey2
        border-bottom: 2px solid $grey
    h4
        font-size: 1.5rem
        margin-bottom: 0.5em
        font-weight: 600

    .ft-grid
        .ft1
            grid-area: 1
        .ft2
            grid-area: 2
        .ft3
            grid-area: 3
        .ft4
            grid-area: 4
        ul
            display: flex
            justify-content: space-between
            @media screen and (max-width:599px)
                display: grid
                grid-template-columns: 1fr 1fr
                grid-template-rows: 1fr 1fr
                grid-template-areas: '1 2' '3 4'
                gap: 0.25em
                @media screen and (max-width:479px)
                    display: flex
                    flex-direction: column

        a
            display: flex
            align-items: center
            img
                margin-right: 1em
                width: 30px
                filter: brightness(0) invert(1)

    .footer-bottom
        // margin: 0 -100vw
        // padding: 1em 100vw 1em 100vw
        margin: 0 -2.5%
        padding: 1em 5% 
        @media screen and (max-width:1280px)
            margin: 0 -12.5%
            padding: 1em 12.5%
        background: $footer-grey1
    h4
        font-size: 1.5rem
        font-weight: 600

    .fb-grid-a
        margin: 2em 0
        border-bottom: 1px solid $grey
        padding-bottom: 1em
        line-height: 1.5rem
        columns: 6
        @media screen and (max-width:1007px)
            columns: 4
        @media screen and (max-width:599px)
            columns: 3
        @media screen and (max-width:399px)
            columns: 2
        li
            border-right: 1px solid $grey

    .fb-grid-b
        ul
            display: flex
            flex-direction: row
            flex-wrap: wrap
            gap: 0.9em
    .footer-bottom-foot
        font-size: 0.9rem
        margin-top: 1em
        span, a
            font-weight: 600
