// $red: #bb1919

@import '_colors'

header

    .header-top
        display: flex
        // justify-items: center
        // align-content: center
        background: lightyellow

        .htl
            display: flex
            align-items: center
        img
            margin-right: 0.5em
        .sign-in
            padding: 0.7em 6em 0.7em 1em
            border-left: 1px solid grey
            &:hover
                background: red

        .htm
        ul
            display: flex

            li
                background: lightgreen
                padding: 0.75em
                border-left: 1px solid grey
                &:hover
                    background: red

            .more-link
                padding-right: 3em
        .htr
            display: flex

    .header-mid

        // display: flex
        background-color: $red
        color: white
        margin: 0 -30em
        padding: 0 30em

        // h1

        nav
        ul
            display: flex
            li
                background: #222
                margin: 0.25em
                padding: 0.25em

    .header-bot

        nav

        ul
            display: flex

            li
                background: #111
                margin: 0.25em
                padding: 0.25em
