@import '_colors'

article
    width: 100%
    cursor: pointer

    h4
        font-weight: 700
        margin: 0.5em 0
        &:hover
            color: $link-blue
    .a-foot
        display: flex
        gap: 0.5em
        font-size: 0.9rem
        img
            width: 15px
        span
            color: $dark-grey
        p
            &:hover
                color: $hover-blue
                text-decoration: underline

    @media screen and (max-width:599px)
        // display: flex
        img
            float: left
            width: 50%
            margin-right: 0.25em

.a-title
    display: flex
    align-items: center
    margin: 6em 0 2em 0
    h3
        width: 160px
        font-size: 1.5rem

    hr
        width: 100%
        border-left: none
        border-bottom: none
        border-right: none

.a
    display: flex
    gap: 1em
    @media screen and (max-width:1280px)
        .a1
            grid-area: a1
        .a2
            grid-area: a2
        .a3
            grid-area: a3
        .a4
            grid-area: a4
            border-bottom: 1px solid $grey
            img
                display: none
            @media screen and (max-width:599px)
            .a-foot
                display: none!important
        .a5
            grid-area: a5
            img
                display: none
            @media screen and (max-width:599px)
            .a-foot
                display: none!important

        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        grid-template-rows: 0.5fr 0.5fr
        grid-template-areas: 'a1 a2 a3 a4' 'a1 a2 a3 a5'
        @media screen and (max-width:899px)
            grid-template-columns: repeat(6, 0.5fr)
            grid-template-rows: repeat(3, 0.5fr)
            grid-template-areas:'a1 a1 a2 a2 a3 a3' 'a1 a1 a2 a2 a3 a3' 'a4 a4 a4 a5 a5 a5'
            .a4
                border-bottom: none
            @media screen and (max-width:599px)
                justify-items: center
                // align-items: center
                grid-template-columns: repeat(2, minmax(250px, 250px))
                grid-template-rows: repeat(7, 0.5fr)
                grid-template-areas:'a1 a1' 'a1 a1' 'a2 a2' 'a2 a2' 'a3 a3' 'a3 a3' 'a4 a5' 

    
    .b
    .b-title
        display: flex
        align-items: center
        margin: 2em 0
        h3
            width: 290px
            font-size: 1.5rem

    hr
        width: 100%
        border-left: none
        border-bottom: none
        border-right: none

.b-grid
    display: flex
    gap: 1em
    @media screen and (max-width:1280px)
        .b1
            grid-area: b1
        .b2
            grid-area: b2
        .b3
            grid-area: b3
        .b4
            grid-area: b4
            border-bottom: 1px solid $grey
            img
                display: none
        .b5
            grid-area: b5
            img
                display: none
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        grid-template-rows: 0.5fr 0.5fr
        grid-template-areas: 'b1 b2 b3 b4' 'b1 b2 b3 b5'
        @media screen and (max-width:899px)
            grid-template-columns: repeat(6, 0.5fr)
            grid-template-rows: repeat(3, 0.5fr)
            grid-template-areas:'b1 b1 b2 b2 b3 b3' 'b1 b1 b2 b2 b3 b3' 'b4 b4 b4 b5 b5 b5'
            .b4
                border-bottom: none
            @media screen and (max-width:599px)
                grid-template-columns: repeat(2, minmax(250px, 250px))
                grid-template-rows: repeat(7, 0.5fr)
                grid-template-areas:'b1 b1' 'b1 b1' 'b2 b2' 'b2 b2' 'b3 b3' 'b3 b3' 'b4 b5'


.c
    margin: 2em 0
    .c-title
        display: flex
        align-items: center
        margin: 2em 0
        h3
            width: 170px
            font-size: 1.5rem

    hr
        width: 100%
        border-left: none
        border-bottom: none
        border-right: none

.c-grid
    display: flex
    gap: 1em
    @media screen and (max-width:1280px)
        .c1
            grid-area: c1
        .c2
            grid-area: c2
        .c3
            grid-area: c3
        .c4
            grid-area: c4
            border-bottom: 1px solid $grey
            img
                display: none
        .c5
            grid-area: c5
            img
                display: none
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        grid-template-rows: 0.5fr 0.5fr
        grid-template-areas: 'c1 c2 c3 c4' 'c1 c2 c3 c5'
        @media screen and (max-width:899px)
            grid-template-columns: repeat(6, 0.5fr)
            grid-template-rows: repeat(3, 0.5fr)
            grid-template-areas:'c1 c1 c2 c2 c3 c3' 'c1 c1 c2 c2 c3 c3' 'c4 c4 c4 c5 c5 c5'
            .c4
                border-bottom: none
            @media screen and (max-width:599px)
                grid-template-columns: repeat(2, minmax(250px, 250px))
                grid-template-rows: repeat(7, 0.5fr)
                grid-template-areas:'c1 c1' 'c1 c1' 'c2 c2' 'c2 c2' 'c3 c3' 'c3 c3' 'c4 c5'


.findus
    margin-bottom: 4em
    .findus-header
        display: flex
        align-items: center
        margin: 2em 0 1em 0
    h3
        // flex-wrap: nowrap
        font-size: 1.5rem
        width: 170px

    hr
        width: 100%
        // border-style: none
        border-left: none
        border-bottom: none
        border-right: none

    .findus-grid
        // background: lightblue
        // padding: 1em
        display: grid
        grid-template-columns: repeat(5, minmax(1fr, 1fr))
        grid-template-rows: 0.5fr 0.5fr
        grid-template: 'socials empty daily news a' 'socials empty daily news b'
    .socials
        display: flex
        grid-area: socials
        div
            width: 100px
            height: 100px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 50%
            margin: 0.5em
            cursor: pointer
            &:hover
                filter: brightness(75%)
        img
            width: 50px
            margin: auto

        .socials-twitter
            fill: $twitter-blue
            background: $twitter-blue
        .socials-facebook
            background: $facebook-blue
        .socials-instagram
            background: $instagram-pink
    .empty
        grid-area: empty
        width: 150px

    a
        text-decoration: none

    .findus-h3
        font-size: 1.25rem
        color: $dark-grey
        font-weight: 100
        span
            font-weight: 700

    .findus-daily
        margin-right: 0.75em
        grid-area: daily
        img
            height: 40px
            width: 40px

    p
        color: black
        font-size: 0.9rem
        &:hover
            color: $link-blue
            text-decoration: underline

    .findus-news
        margin-right: 0.1em
        grid-area: news
        img
            height: 40px
            width: 40px

    .findus-info
        p
            line-height: 1.25rem
            color: $dark-grey
            &:hover
                text-decoration: none
        span
            color: black
            cursor: pointer
            &:hover
                text-decoration: underline
                color: $link-blue

    .info-a
        grid-area: a
    .info-b
        grid-area: b
    .top
        display: flex
        align-items: center
        gap: 1em
        margin-bottom: 0.5em
        h3
            border-left: 3px solid grey
            padding-left: 1em
