@import '_colors'
    
article
    width: 100%
    cursor: pointer
    h4
        font-weight: 700
        margin: 0.5em 0
        &:hover
            color: $link-blue
    .a-foot
        display: flex
        gap: 0.5em
        font-size: 0.9rem
        img
            width: 15px
        span
            color: $dark-grey
        p
            &:hover
                color: $hover-blue
                text-decoration: underline

.a-title
    display: flex
    align-items: center
    margin: 6em 0 2em 0
    h3
        width: 160px
        font-size: 1.5rem

    hr
        width: 100%
        border-left: none
        border-bottom: none
        border-right: none
    
.a
    display: flex
    gap: 1em


.b
    .b-title
        display: flex
        align-items: center
        margin: 2em 0
        h3
            width: 290px
            font-size: 1.5rem


    hr
        width: 100%
        border-left: none
        border-bottom: none
        border-right: none

.b-grid
    display: flex
    gap: 1em

.c
    margin: 2em 0
    .c-title
        display: flex
        align-items: center
        margin: 2em 0
        h3
            width: 170px
            font-size: 1.5rem


    hr
        width: 100%
        border-left: none
        border-bottom: none
        border-right: none

.c-grid
    display: flex
    gap: 1em






.findus
    margin-bottom: 4em
    .findus-header
        display: flex
        align-items: center
        margin: 2em 0 1em 0
    h3
        // flex-wrap: nowrap
        font-size: 1.5rem
        width: 170px

    hr
        width: 100%
        // border-style: none
        border-left: none
        border-bottom: none
        border-right: none

    .findus-grid
        // background: lightblue
        // padding: 1em
        display: grid
        grid-template-columns: repeat(5, minmax(1fr, 1fr))
        grid-template-rows: 0.5fr 0.5fr
        grid-template: 'socials empty daily news a' 'socials empty daily news b'
    .socials
        display: flex
        grid-area: socials
        div
            width: 100px
            height: 100px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 50%
            margin: 0.5em
            cursor: pointer
            &:hover
                filter: brightness(75%)
        img
            width: 50px
            margin: auto

        .socials-twitter
            fill: $twitter-blue
            background: $twitter-blue
        .socials-facebook
            background: $facebook-blue
        .socials-instagram
            background: $instagram-pink
    .empty
        grid-area: empty
        width: 150px

    a
        text-decoration: none

    .findus-h3
        font-size: 1.25rem
        color: $dark-grey
        font-weight: 100
        span
            font-weight: 700

    .findus-daily
        margin-right: 0.75em
        grid-area: daily
        img
            height: 40px
            width: 40px

    p
        color: black
        font-size: 0.9rem 
        &:hover
            color: $link-blue
            text-decoration: underline


    .findus-news
        margin-right: 0.1em
        grid-area: news
        img
            height: 40px
            width: 40px
    
    .findus-info
        p
            line-height: 1.25rem
            color: $dark-grey
            &:hover
                text-decoration: none
        span
            color: black
            cursor: pointer
            &:hover
                text-decoration: underline
                color: $link-blue
    
    
    .info-a
        grid-area: a
    .info-b
        grid-area: b
    .top
        display: flex
        align-items: center
        gap: 1em
        margin-bottom: 0.5em
        h3
            border-left: 3px solid grey
            padding-left: 1em
